network:
  version: 2
  renderer: networkd
  ethernets:
    {{ gateway_lan_interface }}:
      dhcp4: false
      addresses:
        - {{ gateway_lan_address }}

    {{ gateway_wan_interface }}:
      dhcp4: true
