[sssd]
services = nss, pam
config_file_version = 2
domains = corp.local

[domain/corp.local]
id_provider = ldap
auth_provider = ldap
ldap_uri = "{{ ldap_server }}"
ldap_search_bash = "{{ olcSuffix }}"

cache_credentials = true
enumerate = false

ldap_default_bind_dn = uid=sssd,ou=Services,dc=corp,dc=local
ldap_default_authtok_type = password
ldap_default_authtok = sssd123

ldap_tls_cacert = /etc/ssl/certs/corp-ca.crt
ldap_id_use_start_tls = false
ldap_tls_reqcert = demand

fallback_homedir = /home/%u
default_shell = /bin/bash
