[defaults]
inventory = inventories/production/hosts.yml

roles_path = roles

host_key_checking = false

remote_user = root

private_key_file = /root/.ssh/ansible_ed25519

forks = 10

deprecation_warnings = false

vault_password_file = .vault_key
